[app]
name = "inventory"
version = "0.0.1"
host = "127.0.0.1"
port = 8081

[database]
# host = "localhost"
# port = 3306
# username = "username"
# password = "password"
# name = "mydatabase"
# additional_parameters = "charset=utf8&parseTime=True&loc=Asia%2fJakarta&time_zone=%27%2B07%3A00%27"
# max_open_connection = 280
# max_idle_connection = 20
# connection_max_lifetime = 0
path_to_db = "./inventory.db"