[app]
name = "kitabisa-api"
version = "1.0.3"
host = "0.0.0.0"
port = 8080

[database]
host = "stgdb.ktbs.xyz"
port = 8887
username = "dewa"
password = "m66FsuRgZB4AfKKUP2Ed"
name = "kitabisa"
# host = "localhost"
# port = 3306
# username = "homestead"
# password = "secret"
# name = "kitabisa"
additional_parameters = "charset=utf8&parseTime=True&loc=Asia%2fJakarta&time_zone=%27%2B07%3A00%27"
max_open_connection = 280
max_idle_connection = 20
connection_max_lifetime = 0

[cache]
host = "127.0.0.1"
port = 6379
dial_connect_timeout = 5
read_timeout = 5
write_timeout = 5
max_idle = 700
max_active = 1000
idle_timeout = 60 # seconds
wait = true
max_conn_lifetime = 0 # seconds
namespace = "1"
password = "yourpassword"